.App {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
}


/* Theme */
.fs-entry {
  color: #34495E;
}

.fs-entry.selected {
  background-color: #D7DBDD;
  border-radius: 5px;
}
